@use './features/shared/styles/variables';
@use './features/shared/styles/shared';
@use './features/shared/styles/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--bg-app);
    color: var(--text-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ri-spin {
    display: inline-block;
    animation: spin 1s linear infinite;
}

